.btn-follow{
    background-color: #81d4f9;
      width: 100px;
      margin-top: 20px;
      margin-left: 20px;
  }
  
  .btn-unfollow{
    background-color:#f9e281;
    width: 100px;
    margin-right: 500px;
    margin: 5px; 
  }
  .sharePro {
    
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-left: 40px; 
  }
  
  .title{
    
    margin-left: 55px;
  }
  
    
   
    
    
   
   
    
   
    
    